<center>
  <br><br><br><br>
  <h2>Welcome to BugZilla!</h2>
  <br><br>
  <h4>
  <%=link_to "Sign in" , new_user_session_path  , {:class => "btn btn-primary white-link"}%>
  or
  <%=link_to "Sign up" , new_user_registration_path , {:class => "btn btn-primary white-link"}%>
  to continue!</h4>
  <br><br>
</center>
