<div>
  <h4>Add Users to Project</h4>
  <label class="search-label">Type Name to search</label>
  <br><br>
  <input class="form-input search-box" data-userId="0" id="userName" required="" onkeydown="showHint()" onclick="hideHint()" placeholder="Search By User Name" autocomplete="off" type="text">
  <span id="hint"></span>
  <input type="button" class="btn btn-s btn-primary" value="Add" onclick="addUserToProject()">
</div>

<div>
</div>
