// Place all the styles related to the Bugs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


select {
    min-width:0px !important;
    height: 30px;
    border: 1px solid #ccc;
    width: 45px !important;
    margin-left: 2px !important;
}
.long-select select {
    width: 275px !important;
}
.image-field{
margin-bottom:15px;
}
.image-field input{
  margin:auto;
}
label{
  width:100%;
  text-align:left;
}
