@import "bootstrap-sprockets";
@import "bootstrap";
/* universal */
body {
padding: 60px;
}
section {
overflow: auto;
}
textarea {
resize: vertical;
}
.center {
text-align: center;
}
.center h1 {
margin-bottom: 10px;
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}
#logo:hover {
  color: #fff;
  text-decoration: none;
}
footer {
margin-top: 45px;
padding-top: 5px;
border-top: 1px solid #eaeaea;
color: #777;
}
footer a {
color: #555;
}
footer a:hover {
color: #222;
}
footer small {
float: left;
}
footer ul {
float: right;
list-style: none;
}
footer ul li {
float: left;
margin-left: 15px;
}
.site-content{
  text-align:center;
}
form{
  width:350px;
  margin: auto;
  text-align: center;
  margin-top:30px;
}
label{
  float: left;
  margin-left: 40px;
}
input[type=text], input[type=email] , input[type=password] , input[type=submit] , select {
    margin-bottom: 10px;
    min-width:280px;
    text-align:left;
}
input[type=submit]{text-align:center; margin-top:20px;}
.site-content{
  margin:auto;
  text-align:center;
}
.remember_me_check{
  margin:auto !important;
  margin-left:-180px !important;
}
#error_explanation {
    font-size: 14px;
    color: #CE0000;
}
#error_explanation h2 {
    font-size: 14px;
    font-weight: bold;
}
