@import "bootstrap-sprockets";
@import "bootstrap";
/* universal */
body {
padding: 60px;
}
section {
overflow: auto;
}
textarea {
resize: vertical;
}
.center {
text-align: center;
}
.center h1 {
margin-bottom: 10px;
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  margin-top: 7px;
}
#logo:hover {
  color: #fff;
  text-decoration: none;
  background-color:transparent;
}
footer {
margin-top: 45px;
padding-top: 5px;
border-top: 1px solid #eaeaea;
color: #777;
}
footer a {
color: #555;
}
footer a:hover {
color: #222;
}
footer small {
float: left;
}
footer ul {
float: right;
list-style: none;
}
footer ul li {
float: left;
margin-left: 15px;
}
.btn{color:#fff !important;}
.btn a{color:#fff !important;}
.btn a:hover{
  color: #fff;
  text-decoration: none;
  background-color:transparent;
  }
.text-bold{font-weight:bold;}
th {
    padding: 10px 10px 10px 5px;
    font-size: 14px;
    border-bottom: 1px solid #c0c0c0;
}
tr {

    border-top: 10px solid #fff;

}
.site-content{
  text-align:center;
}
form{
  width:350px;
  margin: auto;
  text-align: center;
  margin-top:30px;
}
label{
  float: left;
  margin-left: 40px;
}
textarea, input[type=text], input[type=email] , input[type=password] , input[type=submit] , select {
    margin-bottom: 10px;
    min-width:280px;
    text-align:left;
}
input[type=submit]{text-align:center; margin-top:20px;}
.site-content{
  margin:auto;
  text-align:center;
}
.remember_me_check{
  margin:auto !important;
  margin-left:-180px !important;
}
#error_explanation {
    font-size: 14px;
    color: #CE0000;
}
#error_explanation h2 {
    font-size: 14px;
    font-weight: bold;
}

#notice{
  color: #3e3e3e !important;
  font-weight: bold;
  padding: 8px 10px 10px 15px;
  border-radius: 7px;
  -webkit-animation-name: popup; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: popup;
  animation-duration: 2s;
}
.text-top{
  vertical-align: text-top;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes popup {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Standard syntax */
@keyframes popup {
    from {opacity: 0;}
    to {opacity: 1;}
}
